.section-one{
    height: auto;
    width: auto;
    background-color: #fcc302;
    color: #ffffff;
    background-image: url(dog.image.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: center;
    padding: 90px;

}
.section-one-1, .section-two-1 {
    width: 50%;
    margin-left: 92px;
}
.pera1{
    font-size: 60px;
color: #ffffff;
font-weight: 600;
font-family: "Poppins";
}
.pera2{
    font-size: 28px;
/* letter-spacing: 0px; */
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
}
.contact{
    font-size: 29px;
letter-spacing: 0px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
background-color: #00bec9;
color: #ffffff;
border: none;
height: 69px;
width: 182px;
margin-top: 90px;
margin-left: 20px;
border-radius: 7px;
}
.ourservice{
    font-size: 29px;
    color:#ffffff ;
    background-color: #fcc302;font-weight: 400;
    font-family: "poppins";
    margin-top: 90px;
    margin-left: 20px;
    height: 69px;
    width: 182px;
    border-radius: 7px;
    border: 2px solid white;
}
.contact:hover, .ourservice:hover{
    background-color: black;
    color: red;
}


.section-two{
 height: auto;   
 width: auto;
 background-color: #ffffff;
 display: flex;
 color: black;
 padding: 90px;
}
.pera3{
    font-size: 32px;
color: #313243;
font-weight: 600;
font-family: "Poppins";
text-transform: initial;
margin-top: 70px;
}
.pera4{
    font-size: 19px;
/* letter-spacing: 0px; */
color: #313243;
font-weight: 400;
font-family: "Poppins";
margin-top: 50px;
margin-right: 50px;
}
.ourservice1{
    margin-top: 40px;
    margin-right: 20px;
    width: 182px;
height: 69px;
border-radius: 7px;
background-color: #fcc302;
border: none;
color: #ffffff;
font-size: 29px;
}
.section-two-2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: -80px;
}
.one{
    height: 206px;
    width: 252px;
    background-color: #fcc302;
    position: absolute;
    bottom: 90px;
    right: 390px;

}
.two{
width: 506px;
height: 480px;
background-color: #daac00;
z-index: 1;
}
.two1{
    opacity: .568;
width: 506px;
height: 480px;
background-color: rgba(218,172,0,0.5686274509803921);
position: absolute;
/* background-image: url(Place\ Your\ Image\ Here\ \(1\).png); */
}
.im{
    width: 506px;
    height: 480px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.im > span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    width: 84px;
    border-radius: 42px;
    background-color: #ffffff;
    font-size: 29px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.section-three{
    height: auto;
    width: auto;
    background-color: #fcc302;
    padding: 90px;
}
.section-three h1{
    font-size: 75px;
color: #ffffff;
font-weight: 700;
font-family: "Poppins";
text-align: center;
}
.section-three p{
font-size: 33px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
text-align: center;
margin-top: 20px;
letter-spacing: 1;
}
.sec-three-img{
    display: flex;
    column-gap: 40px;
    margin-top: 40px;
    margin-left: 20px;
}
.sec-three-img > div >h4{
    font-size: 33px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
text-align: center;
}
.sec-three-img > div >p{
    font-size: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
text-align: center;
}