.footer{
    height: auto;
    width: auto;
    background-color: #343434;
    padding: 90px;
    display: flex;
    gap: 40px;
    
}
@media only  screen and (max-width:600px){
    .footer{
        flex-direction: column;
        height: auto;
        width: auto;
        background-color: #343434;
        padding: 20px;
        gap: 20px;
    }
   
}



.footer-one >h1{
    font-size: 38px;
color: #ffffff;
font-weight: 600;
font-family: "Poppins";
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}
.footer-one >ul{
    font-size: 25px;
line-height: 44px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
flex-direction: column;
gap: 10px;
}
.footer-two >h1{
    font-size: 38px;
line-height: 8px;
color: #ffffff;
font-weight: 600;
font-family: "Poppins";
text-align: end;
margin-left:100px ;
}
.footer-two >p{
    margin-top: 20px;
    font-size: 20px;
line-height: 33px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
text-align: right;
margin-left: 50px;
}
.footer-three{
    margin-top: 80px;
    width: 530px;
height: 90px;
background-color: #daac00;
position: relative;

}
.footer-three-one{
    width: 144px;
height: 90px;
background-color: #00bec9;
position: absolute;
left: 390px;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
}
.footer-img{
    font-size: 30px;
    margin-left: 290px;

}

